<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
      <h1 class="display-3">Generador de QR</h1>
    </div>
  </div>

<form>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Activo</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (keyup)="getNombre($event.target.value)">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Ubicación</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (keyup)="getUbicacion($event.target.value)">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Cantidad</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (keyup)="getCantidad($event.target.value)">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Propietario</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (keyup)="getPropietario($event.target.value)">
    </div>
</form>

<div class="container main-container">
  <qr-code [value]="qrCodeVal" [size]="300" ></qr-code>
</div>
